*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ddd;
}

#conteudo {
    width: 800px;
    background-color: pink;
    border-style: initial;
}

.cancelado {
  text-decoration: line-through;
}

ul {
    padding: 0 0 0 40px;
}

ul  li{
    color: rgb(22, 1, 255);
}

#conteudo > ul > li {
    margin-bottom: 0 0 20px 0;
}


ul + p {
    color: red;
}

ul ~ p {
    font-style: italic;
}


